<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdocaoDeGatinhos</title>
    <link rel="stylesheet" href="/static/style.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
    </style>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
    </style>

</head>
<body>

    <header class = "page-header">
        <h1>Lindos gatinhos para adoção</h1>
    </header>

    <h2>Escolha seu novo amiguinho!</h2>


    <div class="container">
        <div class="row">
           <div class="card_img">
                <div class="title">Paçoca</div>
                <a href="detalhes?codigo=1">
                    <img src="/static/pacoca.jpg" alt="Gato Paçoca" class="small_img">
                </a>
            </div>
            <div class="card_img">
                <div class="title">Princesa</div>
                <a href="detalhes?codigo=2">
                    <img src="/static/princesa.jpg" alt="Gata Princesa" class="small_img">
                </a>
            </div>
            <div class="card_img">
                <div class="title">Pingato</div>
                <a href="detalhes?codigo=3">
                    <img src="/static/pingato.jpeg" alt="Gato Pingato" class="small_img">
                </a>
            </div>
        </div>

       <div class="row">
            <div class="card_img">
                <div class="title">Chantilly</div>
                <a href="detalhes?codigo=4">
                    <img src="/static/chantilly.jpg" alt="Gato Chantilly" class="small_img">
                </a>
            </div>
            <div class="card_img">
                <div class="title">Marge</div>
                <a href="detalhes?codigo=5">
                    <img src="/static/marge.jpg" alt="Gata Marge" class="small_img">
                </a>
            </div>
            <div class="card_img">
                <div class="title">Pastel</div>
                <a href="detalhes?codigo=6">
                    <img src="/static/pastel.jpg" alt="Gato Pastel" class="small_img">
                </a>
            </div>
        </div>

    </div>

    <div class="footer">
        <div class="container" >
            <div class="pets" >
                Adoção consciente - Adote, não compre!
            </div>
        </div>
    </div>
    
</body>
</html>